@CHARSET "ISO-8859-1";

h2 {
	font-family: serif;
	font-size: 25px;
	color: green;
}

input.form_field {
	width: 250px;
	height: 25px;
	font-size: 20px;
}

#footer {
	color: red;
}

#head {
	background-color: gray;
}

.error {
	color: red;
}